<div class="container">
  <div class="d-flex align-items-center justify-content-center vh-100 px-5 mx-md-5">
    <mat-card class="content-card">
      <a routerLink="/register" mat-raised-button class="w-100 fs-5 fw-bold py-2 mb-3 bg-light text-dark">
        Google login
      </a>
      <a routerLink="/register" mat-raised-button color="warn" class="w-100 fs-5 fw-bold py-2">
        Register a new account
      </a>
      <div class="d-flex align-items-center justify-content-center py-4">
        <div class="w-100">
          <mat-divider></mat-divider>
        </div>
        <div class="px-3 pt-1">
          <h6 class="fw-bold m-0">OR</h6>
        </div>
        <div class="w-100">
          <mat-divider></mat-divider>
        </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email" name="email">
          <mat-error *ngIf="loginFormData.email.hasError('required')">
            Email is required!
          </mat-error>
          <mat-error *ngIf="loginFormData.email.hasError('email')">
            Email is not valid!
          </mat-error>
          <mat-error *ngIf="loginFormData.email.hasError('server')">
            {{ loginFormData.email.errors?.['server'] }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" name="password">
          <button mat-icon-button matSuffix color="link" (click)="hide = !hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginFormData.password.hasError('required')">
            Password is required!
          </mat-error>
          <mat-error *ngIf="loginFormData.password.hasError('minlength')">
            Password need to be equal or greater then 8 length!
          </mat-error>
          <mat-error *ngIf="loginFormData.password.hasError('server')">
            {{ loginFormData.password.errors?.['server'] }}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-100 fs-5 fw-bold py-2">
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
